<div class="container rounded our-work">
    <h2 class="our-work-title">Our Work</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" id="our-work">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/img/school.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="../school/school.html" class="card-link">KL Hills School
                            Website</a></h5>
                    <p class="card-text">Official website for private school in KL</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/img/clock.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="../clock/clock.html" class="card-link">Clock Website</a>
                    </h5>
                    <p class="card-text">Clock website for client's internal project</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/img/personal.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="../webpage/myWebpage.html" class="card-link">Personal
                            Website</a></h5>
                    <p class="card-text">Personal website on client's request</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/img/web2.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="card-link">Admin Dashboard</a></h5>
                    <p class="card-text">Admin dashboard for in-house HR system</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/img/web3.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="card-link">NineStars Website</a></h5>
                    <p class="card-text">Website for client digital solution</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="assets/img/web6.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" class="card-link">Softland Mobile App</a></h5>
                    <p class="card-text">Created mobile app softland and its website</p>
                </div>
            </div>
        </div>
    </div>
</div>