<div class="row row-custom rounded" id="about-us">
    <div class="col-md-7 order-md-2 container about-us-custom">
        <h2 class="about-us-title">About Us</h2>
        <p class="lead">We build software solutions that solve our client's business challenges</p>
        <p>After starting in 2005, VelvetSoftware has become one of the best IT employers in Malaysia and a
            reliable partner for companies all over the world</p>
    </div>
    <div class="col-md-5 order-md-1 ">
        <img src="assets/img/aboutus.jpg" width="500px" height="100%">
    </div>
</div>