<div class="container rounded row-services"  id="services">
    <h2 class="services-title">Services</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        <div>
            <div class="bd-placeholder-img rounded-circle">
                <img src="assets/img/webdev.jpg" class="rounded-circle" width="140" height="140">
            </div>
            <h2 class="fw-normal">Web Development</h2>
            <p>Technical solutions of different complexity is applied in all stages of web development.
                As a result, you get a highly competent digital product ready to use.</p>
        </div>
        <div>
            <div class="bd-placeholder-img rounded-circle">
                <img src="assets/img/app.jpg" class="rounded-circle" width="140" height="140">
            </div>

            <h2 class="fw-normal">Mobile Development</h2>
            <p>We created both native and cross-platform application s broadening the horizons of
                accessability
                by each smartphone click.</p>
        </div>
        <div>
            <div class="bd-placeholder-img rounded-circle">
                <img src="assets/img/consult.jpg" class="rounded-circle" width="140" height="140">
            </div>

            <h2 class="fw-normal">Consulting</h2>
            <p>We analyse the current stage of things, your goals and needs and suggest the solution that
                suits
                your best.</p>
        </div>
    </div>
</div>
